<ul id="bars">
<% @non_smoking_bars.each do |bar| %>
  <li>
    <%= link_to bar.name, '/#map', class: 'name', id: "b_#{bar.id}", title: 'Show on the map' %>
    <span class="address"><%= bar.address %></span>
  </li>
<% end %>
</ul>

<p>
  Know a place not listed here? Send an email to
  <a href="mailto:dev@ivana.im?subject=Smoke-free bars">dev@ivana.im</a> to let me know!
</p>

