<ol id="bars">
<% @smoke_free_bars.each do |bar| %>
  <li>
    <%= link_to bar.name, '/#map', class: 'name', id: "b_#{bar.fsq_id}", title: 'Show on the map' %>
    <% unless bar.address.nil? or bar.address.empty? %>
      <span class="address"><%= bar.address %></span>
    <% end %>
  </li>
<% end %>
</ol>

<p>
  Know a place not listed here? Send an email to
  <a href="mailto:dev@ivana.im?subject=Smoke-free bars">dev@ivana.im</a> to let me know!
</p>

