<ol id="bars" class="bars">
<% @smoke_free_bars.each do |bar| %>
  <li>
    <%= link_to bar.name, '/#map', class: 'name', id: "b_#{bar.fsq_id}", title: 'Show on the map' %>
    <% unless bar.address.nil? or bar.address.empty? %>
      <span class="address"><%= bar.address %></span>
    <% end %>
  </li>
<% end %>
</ol>

<p><%= raw t '.email_me' %></p>

