$text-color:#444;
$background-color:snow;
$border-color:#888;

$link-color:darken(#8FBC8F, 10%); /* darkSeaGreen */
$hover-color:darken(#3CB371, 10%); /* mediumSeaGreen */

ol, ul { list-style:none; margin:0; padding:0; }

a { text-decoration:none;
  &:link, &:visited { color:$link-color; }
  &:hover { color:$hover-color; }
}

$smoke-free-width:260px;
body {
  background:$background-color; color:$text-color;
  border-right:1px solid $border-color;
  width:500px; margin:0 auto; padding:0;
  font:12px/1.5 "Helvetica Neue", helvetica, sans-serif;

  > h1 { margin:0 0 70px;
    span { display:block; }
    .cursive { font:60px/1.5 "Pinyon Script", cursive; float:left; width: $smoke-free-width;
      + span { padding-top: 36px; }
      ~ span {
        margin-left:$smoke-free-width;
        text-transform: uppercase; font-weight: normal; font-size: 11px; line-height: 13px; letter-spacing: 1px;
      } } }
}

nav {
  font-size: 11px;
  position: absolute; left: 20px; top: 13px;

  ol { list-style-type:square; }
}

section { clear:left; width: 200px; margin: 0 auto; }

footer {
  background:$text-color; color: #909090;
  font-size: 11px; text-shadow: 1px 1px 1px #222; text-align:center;
  padding: 25px 10px 20px; margin-top:100px;
}

th { text-align: left; }
td { padding:.5em 2em .5em 0; }

#notice {
  color:steelblue;
  position: absolute; top: 123px; left: 20px;
}


/* scaffold css */

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

