/* map */
html { height: 100% }
body { height: 100%; /*margin: 0; padding: 0*/ }
#map_canvas { width:100%; height:300px; margin-bottom:20px; }

$text-color:#555;
$background-color:snow;
$border-color:#888;

$link-color:darken(#8FBC8F, 10%); /* darkSeaGreen */
$hover-color:darken(#3CB371, 10%); /* mediumSeaGreen */

ol, ul { list-style-type:none; margin:0; padding:0; }

a { text-decoration:none;
  &:link, &:visited { color:$link-color; }
  &:hover { color:$hover-color; }
}

body {
  background:$background-color; color:$text-color;
  width:460px; margin:0 auto; padding:0;
  font:12px/1.5 "Helvetica Neue", helvetica, sans-serif;

  > h1 { margin:0 0 50px;
    .cursive { font:60px/1.5 "Pinyon Script", cursive; float:left; width:265px;
      + span {
        font-weight: 100; font-size:28px;
        position: relative; top: 28px;
        letter-spacing:2px; text-shadow: 1px 1px 1px #BBB;
        display: inline-block; margin-bottom: 20px;
  } } }
}

nav {
  font-size: 11px;
  position: absolute; left: 20px; top: 13px;

  ol { list-style-type:square; }
}

section { clear:left; width: 200px; margin: 0 auto; }

#bars { background:#F9F7F7; padding:24px 30px 15px; border-radius:4px;

  li { margin-bottom:10px }
  .name {
    margin:0 4px 0 0; display: inline-block;
    font-size: 15px; font-weight: 200; line-height: 1.2; letter-spacing: 1px; text-shadow: 1px 1px 1px #BBB;
  }
  .address {
    color: lighten(#369, 20%); text-shadow: 1px 1px 1px #E5E5E5;
    text-transform: uppercase; font-size: 11px;
  }

  + p { margin-top:40px; }
}

footer {
  background:$text-color; color: #909090;
  font-size: 11px; text-shadow: 1px 1px 1px #222; text-align:center;
  padding: 25px 10px 20px; margin-top:100px;
  border-radius:2px;
}

#notice {
  color:steelblue;
  position: absolute; top: 123px; left: 20px;
}

@media only screen and (max-device-width:480px) {
  nav { display:none }
  body > h1 .cursive + span { padding-top:6px; font-size:26px; line-height:1.2; letter-spacing:1px; }
  #bars {
    .name { font-size:20px; }
    .address { font-size:9px; }
    + p { padding-left:30px; margin-top:20px; }
  }
  footer { font-size:10px; margin-top:40px; }
}

/* scaffold css */

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.field_with_errors { background-color: red; display: table; }

#error_explanation {
  border: 1px solid red; background-color: #f0f0f0;
  padding: 7px; padding-bottom: 0; margin-bottom: 20px;

  h2 {
    text-align: left; font-size:12px;
    padding:7px; margin: -7px; margin-bottom: 0px;
    background-color: #c00; color: #fff; }
}

