$left-indent:29px;

body {
  background:snow; color:#222;
  margin:0 auto; padding:0 10px 0 (2 * $left-indent); border-right:1px solid #ddd; width:400px;
  font:12px/1.5 "Helvetica Neue", helvetica, sans-serif;
}

h1 { margin:0 0 30px;
  span { display:block; }
  .cursive { font:60px/1.5 "Pinyon Script", cursive; margin-left: -$left-indent;
    + span {
      text-transform:uppercase;
      font-weight:normal; font-size:11px;
      letter-spacing:1.5px;
      position: relative; bottom:20px;
    } 
  }
}

th { text-align: left; }
td { padding:.5em 2em .5em 0; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

